<!DOCTYPE html>
<html lang="en">
<head>
    <title>로이젠</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header id ="main-header">

    </header>
    <main id ="main">
        <section class="hero">
        </section>
        <section class="contents">
            <div class="container">
                <section class="content">
                </section>
            </div>
        </section>
    </main>
    <footer id = "main-footer">
        <div class="container">
            <div class="text"></div>
        </div>
    </footer>
</body>

</html>